<section class="about">
 <div class="container">
   <div class="col-md-12">
     <div id="about-text">
                 <p>With a passion to see music, faith and worship fill the atmosphere Jim Rogers have been serving the local church as long as they can remember. From their earliest memories listening to old record collections and being in various bands, music has been the constant driving force in everything they have done. Knowing that music has the power to motivate and change things in every situation. They are currently residing in Lee-on-Solent and serving at New Life Church, Romsey.</p>
     </div><!--end about text-->
    </div><!--end col md 12-->
 </div><!--end container-->
</section><!--end about-->