<div class="col-md-10">
  <section class="about">
   <div class="container">
     
     <div class="col-md-12">
       <div id="about-text">
            <img src="../images/jim.JPG" alt="Jim Rogers">
        </div><!--end about text-->
     </div><!--end col md 12-->
     
     <div class="col-md-12">
       <div id="about-text">
                   <p>Jim Rogers is a singer songwriter based in Hampshire, UK. Growing up listening to the eclectic mix of his Fathers record collection he quickly found a passion that drew on many influences from the classics of our time. You see songwriting is a craft that can outlive and reach far beyond the here and now. It has been used to protest against injustices and used to make sense of the world around. Jim tries to explore these themes in the songs from the desperate void that comes from the pain and hurt we sometimes experience to the redemptive nature of hope and love found in the gift of faith. He loves doing life with his wife Natalie and boy, Ethan. He is the worship co-ordinator at Freedom Church Uk and belongs to the alternative worship band The Bright Epression.</p>
        </div><!--end about text-->
      </div><!--end col md 12-->
      
   </div><!--end container-->
  </section><!--end about-->
</div>