<script src="/js/jquery.min.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/collapse.js"></script>
<script src="/js/transition.js"></script>
<script src="/js/scroller.up.js"></script>
<script src="/js/parallax.min.js"></script>


<script>
$('.nav li').click(function(e) {
    $('.navbar li.active').removeClass('active');
    var $this = $(this);
    if (!$this.hasClass('active')) {
        $this.addClass('active');
    }
    
});
</script>
    
<script>
	smoothScroll.init();
</script>
  
<script>
$('.parallax-window').parallax({imageSrc: '../images/background-image.JPG'});
</script>