<span id="contact"></span>
<section class="contact">
<div class="container">
  
  <div class="col-md-8">
    <div id="contact-text">
      <h3>contact</h3>
          <div id="contactform">
        		<form action="php/contact.php" id ="myform" method="post" enctype="plain">
              <input type="text" name="Name"  placeholder="Your Name">
              <input type="text" name="E-Mail"  placeholder="Your E-Mail">
              <input type="text" name="Telephone"  placeholder="Your Telephone">
              <textarea type="text" name="Message" rows="10" cols="39" size="45" ></textarea>
              <input type="submit" id="Download-button" class="btn-subscribe" value="send"/>
            </form>
          </div><!--end contactform-->
    </div><!--end contact text-->
  </div><!--end col md 8-->
  
  <div class="col-md-4">
    <div class="socials">	
      <span><h3>follow</h3></span>
      <ul>
        <li><a href="http://www.facebook.com/jimrogersmusic/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://www.twitter.com/jimrogersmusic/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://www.youtube.com/jimrogersmusic/"><i class="fa fa-youtube"></i></a></li>
        <li><a href="http://www.instagram.com/jimrogersmusic/"><i class="fa fa-instagram"></i></a></li>
      </ul>
      
      <p>info@jimrogersmusic.com</p>
    </div><!--socials-->
  </div><!--end col md 4-->
        
</div><!--end container-->
</section><!--end contact-->