<span id="contact"></span>
<section class="contact">
<div class="container">
   <h3>CONTACT</h3>
  <div class="col-md-12">
    <div id="contact-text">
       <div class="email">
          <a href="mailto:info@jimrogersmusic.com">info@jimrogersmusic.com</a>
       </div><!--end emails-->
       <div class="socials">
          <ul>
            <li><a href="http://www.facebook.com/jimrogersmusic" target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/jimrogersmusic" target="blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.youtube.com/jimrogersmusic" target="blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="http://www.instagram.com/jimrogersmusic" target="blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div><!--end socials-->
    </div><!--end contact text-->
  </div><!--end col md 12-->
        
</div><!--end container-->
</section><!--end contact-->