<span id="contact"></span>
<section class="contact">
<div class="container">
   <h3>contact</h3>
  <div class="col-md-12">
    <div id="contact-text">
     
          <div id="contactform">
        		<form action="php/contact.php" id ="myform" method="post" enctype="plain">
              <input type="text" name="Name"  placeholder="Your Name">
              <input type="text" name="E-Mail"  placeholder="Your E-Mail">
              <input type="text" name="Telephone"  placeholder="Your Telephone">
              <textarea type="text" name="Message" rows="10" cols="39" size="45" ></textarea>
              <input type="submit" id="Download-button" class="btn-subscribe" value="send"/>
            </form>
          </div><!--end contactform-->
    </div><!--end contact text-->
  </div><!--end col md 8-->
        
</div><!--end container-->
</section><!--end contact-->