<a href="#" class="back-to-top"><i class="fa fa-chevron-up fa-lg"></i></a>

<script src="js/jquery.min.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/collapse.js"></script>
<script src="js/transition.js"></script>
<script src="js/scroller.up.js"></script>
<script src="https://use.typekit.net/njj6jeh.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1040810152611299";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
$('.nav li').click(function(e) {
    $('.navbar li.active').removeClass('active');
    var $this = $(this);
    if (!$this.hasClass('active')) {
        $this.addClass('active');
    }
    
});
</script>
    
<script>
	smoothScroll.init();
</script>
