
<div class="twitter-feed">
  <h3>twitter</h3>
    <a class="twitter-timeline" href="https://twitter.com/JimRogersMusic" width="300px" height="300px" data-chrome="nofooter noheader noborders transparent" data-widget-id="318447576464625664">Tweets by @JimRogersMusic</a><!-- End twitter feed-->
</div>

<div class="instagram-feed">
  <h3>instagram</h3>
  <iframe src="http://widget.websta.me/in/jimrogersmusic/?s=100&w=3&h=3&b=0&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:315px; height: 315px" ></iframe> <!-- End instagram feed-->
</div>
