<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="overlay">
      <div class="home-background">
        <div id="wrapper">
          {% include header.html %}
          
          <div class="col-md-8 front">
            {% include blog-section.html %}
            {% include home-section.html %}
          </div>
          
              {{ content }}
   
          {% include footer.html %}
          {% include scripts.html %}
        </div>
      </div>
    </div>
  </body>

</html>
